{% extends 'shopWeb/layouts/base.html' %}
{% load static %}

{% block title %} 🌸Gardenia - Shop 🌸 {% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nulla ea in similique. Nulla veritatis quia facere voluptatibus magni harum laudantium vitae odit tempore. Quisquam tempora fugiat aperiam nulla autem?</p>

<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse suscipit magnam quisquam beatae maxime saepe, alias officia totam assumenda facere voluptatum necessitatibus dolore voluptatem, accusantium iste aliquam dolorum sunt fugit.</h5>
{% endblock %}

