{% extends 'shopWeb/layouts/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %} 🌸Gardenia - Registrate 🌸 {% endblock %}

{% block content %}
<main>
    <!--FORMULARIO DE REGISTRO-->

    <div class="container">

        <div class="py-5 text-center">
            <h2>Formulario de Registro</h2>
        </div>

        <div class="row">
            <div class="col">
                <h4 class="mb-3">Datos Personales</h4>
                
                <form id="formulario_registro" class="needs-validation"
                    novalidate action="{% url 'register' %}"
                    method="POST">
                    {% csrf_token %}
                    <small  class="text-danger col-12">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                         {% endif %}
                    </small>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="nombre"
                                class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre"
                                name="nombre" placeholder value required>
                            <small class="text-danger col-12"
                                id="nombre_error"></small>
                        </div>

                        <div class="col-12">
                            <label for="apellido"
                                class="form-label">Apellido</label>
                            <input type="text" class="form-control"
                                id="apellido" name="apellido" placeholder value
                                required>
                            <small class="text-danger col-12"
                                id="apellido_error"></small>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control"
                                    id="email" name="email"
                                    placeholder="nombre@correo.com" required>
                                <small class="text-danger col-12"
                                    id="email_error">
                                </small>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="confirm_email"
                                class="form-label">Confirmar Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control"
                                    id="confirm_email" name="confirm_email"
                                    placeholder="nombre@correo.com" required>
                                <small class="text-danger col-12"
                                    id="confirm_email_error"></small>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="password"
                                class="form-label">Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control"
                                    id="password" name="password"
                                    placeholder="Contraseña" required>
                                <button type="button"
                                    class="btn btn-outline-secondary btn-sm rounded-end-5"
                                    id="togglePassword">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                            <small class="text-danger col-12"
                                id="password_error"></small>
                        </div>
                        <div class="col-12">
                            <label for="confirm_password"
                                class="form-label">Confirmar contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control"
                                    id="confirm_password"
                                    name="confirm_password"
                                    placeholder="Contraseña" required>
                                <button type="button"
                                    class="btn btn-outline-secondary btn-sm rounded-end-5"
                                    id="toggleConfirmPassword">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                            <small class="text-danger col-12"
                                id="confirm_password_error"></small>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-success btn-lg"
                            type="submit">Registrarse</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
{% endblock %}
