{% extends 'shopWeb/layouts/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %} 🌸Gardenia - Politicas {% endblock %}

{% block content %}

<!-- CONTENIDO-->
<div class="b-example-divider"><p></p></div>
<div class="politicas-page">
    <main>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center">Política de Privacidad</h2>
                <br>
                <p>En Gardenia Shop, nos tomamos muy en serio la
                    privacidad y seguridad de tus datos personales. Esta
                    Política de Privacidad describe cómo recopilamos,
                    usamos y protegemos la información que nos
                    proporcionas cuando utilizas nuestra plataforma.</p>
                <br>
                <h4>Recopilación de Información</h4>
                <p>Cuando te registras en Gardenia Shop como usuario,
                    recopilamos cierta información personal, como tu
                    nombre, dirección de correo electrónico, dirección
                    de domicilio y detalles de pago. Esta información se
                    utiliza para procesar tus pedidos, brindarte soporte
                    al cliente y mejorar nuestros servicios.</p>
                <br>
                <h4>Uso de la Información</h4>
                <p>La información personal que recopilamos se utiliza
                    exclusivamente para los siguientes fines:</p>
                <ul>
                    <li>Procesar y entregar tus pedidos.</li>
                    <li>Brindarte soporte al cliente y responder a tus
                        consultas.</li>
                    <li>Mejorar la experiencia del usuario en nuestra
                        plataforma.</li>
                    <li>Enviar comunicaciones promocionales y
                        actualizaciones sobre nuestros productos y
                        servicios, siempre y cuando hayas dado tu
                        consentimiento para recibirlas.</li>
                </ul>
                <br>
                <h4>Protección de Datos</h4>
                <p>Utilizamos medidas de seguridad físicas, electrónicas
                    y administrativas para proteger tus datos personales
                    contra el acceso no autorizado, la divulgación, la
                    alteración o destrucción. Además, empleamos
                    tecnologías de encriptación para proteger la
                    transmisión de datos confidenciales, como la
                    información de pago.</p>
                <hr>
                <h4>Compartir Información</h4>
                <p>No vendemos, alquilamos ni compartimos tu información
                    personal con terceros, excepto en los siguientes
                    casos:</p>
                <ul>
                    <li>Con proveedores de servicios de confianza que
                        nos ayudan a operar nuestra plataforma y brindar
                        nuestros servicios, como procesadores de pagos y
                        empresas de envío.</li>
                    <li>Cuando sea necesario para cumplir con la ley,
                        responder a procesos legales o proteger nuestros
                        derechos, propiedad o seguridad.</li>
                </ul>
                <br>
                <h4>Cookies y Tecnologías Similares</h4>
                <p>Utilizamos cookies y tecnologías similares para
                    mejorar la funcionalidad de nuestra plataforma y
                    proporcionarte una experiencia personalizada. Puedes
                    gestionar tus preferencias de cookies en cualquier
                    momento a través de la configuración de tu
                    navegador.</p>
                <br>
                <h4>Cambios en la Política de Privacidad</h4>
                <p>Nos reservamos el derecho de actualizar esta Política
                    de Privacidad en cualquier momento. Te notificaremos
                    sobre cualquier cambio importante mediante una
                    notificación en nuestra plataforma o a través del
                    correo electrónico que proporcionaste al
                    registrarte.</p>
                <p>Al utilizar nuestra plataforma, aceptas los términos
                    de esta Política de Privacidad. Si tienes alguna
                    pregunta o inquietud sobre nuestras prácticas de
                    privacidad, no dudes en contactarnos.</p>
            </div>
        </div>
    </main>
</div>

{% endblock %}
