{% extends 'shopWeb/layouts/base.html' %}
{% load static %}

{% block title %} 🌸Gardenia - Carro de Compras 🌸 {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Carro de Compras</h2>
    <main>
        <div class="container-fluid py-5">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-8">
                    <h4>Productos</h4>
                    <div id="carrito-container"></div>
                    <div
                        class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button class="btn btn-outline-danger mt-3"
                            id="vaciar-carrito">
                            <h6><i class="bi bi-trash3-fill"></i> Vaciar
                                Carrito</h6>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Resumen de compra</h3>
                    <br>
                  
                    <div id="cantidad-total"></div>
                    <br>  
                    <div id="total-container"></div>
                    <br>

                  
                    <div id="total-container"></div>

                    <br>
                    {% if request.user.is_authenticated %}
                    <div class="form-group">
                        <label for="codigo-descuento">Código de
                            Descuento:</label>
                        <input type="text" id="codigo-descuento"
                            class="form-control">
                        <button class="btn btn-primary mt-2"
                            id="aplicar-descuento">Aplicar Código</button>
                        <button class="btn btn-danger mt-2"
                            id="eliminar-descuento">Eliminar Código</button>   
                    </div>
                    <br>
                      <div class="hidden" id="descuentoCuponContainer">
                        <h6 >Descuento por Cupón: $<span id="descuentoCuponValor">0</span> (- <span id="descuentoCupon"></span>% <span id="codigoCupon"></span> )</h6>
                       </div>
                   
                    <!-- Mostrar el descuento de suscripción -->
                    {% if descuento_suscripcion %}
                      <p class="d-none">Descuento por suscripción: <span id="descuentoSuscripcion">{{ descuento_suscripcion }}</span>%</p>
                      <h6>Descuento por Suscripción: $<span id="descuentoSuscripcionValor">0</span> (<span id="descuentoSuscripcion">-{{ descuento_suscripcion }}</span>%)</h4>
                        {% endif %}
                        <div class="form-group">
                            <label for="direccion-envio">Dirección de Envío:</label>
                            <select id="direccion-envio" class="form-control">
                                <option value="" selected disabled>Seleccionar dirección guardada</option>
                                {% for direccion in direcciones %}
                                    <option value="{{ direccion.id }}">{{ direccion.nombre_dirreccion }} - {{ direccion.direccion }}, {{ direccion.ciudad }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalAgregarDireccion">Añadir Nueva Dirección</button>
                        </div>
                    {% endif %}

                       <h4>Total a Pagar: $<span id="totalConDescuentos">0</span></h4>

                    {% if request.user.is_authenticated %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success mt-3 btn-lg"
                            id="pagar-carrito">Pagar Productos</button>
                    </div>
                    {% else %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success mt-3 btn-lg"
                            id="sing-in-pago">Inicia sesión para pagar
                            productos</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
</div>
<!-- Modal para agregar nueva dirección -->
<div class="modal fade" id="modalAgregarDireccion" tabindex="-1" aria-labelledby="modalAgregarDireccionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="modalAgregarDireccionLabel">Agregar Nueva Dirección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAgregarDireccion" method="post" >
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container mt-5">
                        <h2>Agregar Nueva Dirección</h2>
                        {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Dirección</button>
                    </div>
                </div>
            </form>
            
            
        </div>
    </div>
</div>
<!-- Modal de Confirmación de Pago -->
<div class="modal fade" id="modalConfirmarPago" tabindex="-1"
    aria-labelledby="modalConfirmarPagoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="modalConfirmarPagoLabel">Confirmar
                    Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas realizar el pago?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success"
                    id="confirmar-pago">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/productos.js' %}"></script>
<script src="{% static 'js/descuentos.js' %}"></script>
<script>
$(document).ready(function() {
    // Mostrar formulario para agregar nueva dirección
    $('#modalAgregarDireccion').on('shown.bs.modal', function () {
            $('#formAgregarDireccion')[0].reset();  // Reinicia el formulario al abrir el modal
        });

    // Enviar confirmación de pago
    $('#pagar-carrito').on('click', function() {
        $('#modalConfirmarPago').modal('show');
    });

    $('#sing-in-pago').on('click', function() {
        $('#modalSignin').modal('show');
    });

    $('#confirmar-pago').on('click', function() {
        let carrito = JSON.parse(localStorage.getItem('carrito'));
        console.log("Carrito antes de enviar:", carrito);
        $.ajax({
            type: 'POST',
            url: '{% url "procesar_pago" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                carrito: JSON.stringify(carrito)
            },
            success: function(response) {
                if (response.error) {
                    alert(response.message);
                } else {
                    alert(response.message);
                    localStorage.removeItem('carrito');
                    location.reload();
                    window.location.href = '{% url "index" %}';
                }
            },
            error: function(xhr, status, error) {
                console.error('Error en la solicitud AJAX:', error);
                alert('Ha ocurrido un error, por favor intente de nuevo.');
            }
        });
    });
});
</script>
{% endblock %}
