{% extends 'shopWeb/layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Mis Pedidos</h2>
    {% if pedidos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número de Pedido</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Detalles</th>
                </tr>

            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.fecha_pedido|date:"d/m/Y H:i" }}</td>
                    <td>${{ pedido.total_pagado }}</td>
                    <td>{{ pedido.estado_envio }}</td>
                   <td><a href="{% url 'pedido_detalle' pedido.id_pedido %}" class="btn btn-success">Ver Detalles</a></td>-
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes pedidos realizados.</p>
    {% endif %}
</div>
{% endblock %}
