{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <base href="/">
        <link rel="icon" href="{% static 'img/logo/logo_outline.png' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
   
    </head>
    <body>
        <!-- NAVBAR-->
        {% include 'shopWeb/layouts/navbar.html' %}

        <!-- CONTENIDO-->
        <div class="content">
            {% if request.user.is_authenticated %}
                <p>Bienvenido, {{ request.user.username }}, {{ request.user.userprofile.nombre }}</p>
                <p>nombre: , {{request.user.first_name}} </p>
                {% else %}
                <p>No has iniciado sesión.</p>
            {% endif %}
        
            {% block content %}
            {% endblock %}
        </div>


        <!-- FOOTER -->
        {% include 'ShopWeb/layouts/footer.html' %}
        <!-- MODALS -->
        {% include 'shopWeb/layouts/modal_singin.html' %}
        <!-- Off-canvas Carrito -->
        {% include 'shopWeb/layouts/offcanvas_carrito.html' %}

        <!--SCRIPT IMPORT-->
        <!-- <script src="{% static 'js/main.js' %}"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{% static 'js/form_validation.js' %}"></script>
        <script src= "{% static 'js/productos.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.detalles-btn').on('click', function() {
                $(this).siblings('.descripcion').toggle();
            });

            $('.btn-outline-secondary').on('click', function() {
                const input = $(this).siblings('input');
                let cantidad = parseInt(input.val());
                if ($(this).text() === '-') {
                    if (cantidad > 1) {
                        cantidad--;
                    }
                } else {
                    cantidad++;
                }
                input.val(cantidad);
            });
        });
    </script>
</body>
</html>

    
    </body>
</html>

