{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- FOOTER-->

<footer id="footer"
    class=" sticky-bottom align-items-baseline justify-content-between ">
    <div class="row ">
        <div class="col-lg-4  aling-items-center justify-content-center">
            <div class="justify-content-center m-3 d-flex">
                <img src=" {% static 'img/logo/logo_color.png' %}"
                    alt="LOGO_COLOR"
                    width="60px" height="60px"
                    style="margin-right: 10px;">

                <a class="navbar-brand m-1" href="{% url 'index' %}"> <h5>Gardenia
                        Shop</h5>
                </a> 
            </div>
        </div>
        <div
            class="col-lg-4 g-3 gy-1 d-flex align-items-center justify-content-center m-0 p-0 ">
            <ul class="list-unstyled g-3 aling-items-center">
                <a href="{% url 'sobre_nosotros' %}" >
                    <h6
                        class="link_info">Sobre
                        nosotros</h6></a>
            </ul>
            <ul class="list-unstyled g-3 ">
                <a href="{% url 'politicas' %}">
                    <h6
                        class="link_info">Politicas de
                        Privacidad</h6></a>
            </ul>
        </div>
        <div
            class="col-lg-4   d-flex justify-content-center align-items-center">
            <div
                class="d-flex justify-content-center"><h5
                    class="confortaa-font siguenos_rrss ">Síguenos</h5></div>
            <div class="d-flex justify-content-center m-2 ">
                <div> <a class="link_rrss" href="url facebook"><i
                            class="bi bi-facebook"></i></a> </div>
                <div> <a class="link_rrss" href="url twitter"><i
                            class="bi bi-twitter"></i></a> </div>
                <div> <a class="link_rrss" href="url instagram"><i
                            class="bi bi-instagram"></i></a></div>
            </div>
        </div>
    </div>
</footer>