<!-- NAVBAR-->
<nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top border-bottom">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-start">
                <img src="static/img/logo/logo_color.png" alt="logo color" width="40" class="me-2 mt-2">
                <a class="navbar-brand dancing-script-font" href="#INDEX">
                    <h5>Gardenia ShopFFFFFFFFFFFFFFFFFFF</h5>
                </a>
            </div>
            <button class="navbar-toggler border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas  bg-dark offcanvas-end flex-column" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header justify-content-between">
                    <div class="d-flex align-items-start">
                        <img src="static/img/logo/logo_color.png" alt="logo color" width="40" class="me-2 mt-2">
                        <h5 class="dancing-script-font">Gardenia Shop</h5>
                    </div>
                    <button type="button" class="btn-close  border border-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body   justify-content-start align-items-start">
                    <ul class="navbar-nav me-auto d-flex flex-column flex-sm-row flex-grow-1 align-items-center">
                        <li class="nav-item dropdown me-4 ">
                            <a class="nav-link dropdown-toggle comfortaa-font" href="#PRODUCTOS" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu dropdown-large" aria-labelledby="navbarDropdownMenuLink1">
                                <div class="row g-2  mb-3">
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                                        <span class="dropdown-header">
                                            <a href="#CAT_HERRAMIENTAS">Herramientas</a>
                                        </span>
                                        <a class="dropdown-item" href="#TIJERAS">Tijeras</a>
                                        <a class="dropdown-item" href="#PALAS">Palas</a>
                                        <a class="dropdown-item" href="#OTRAS_HERRAMIENTAS">Otras Herramientas</a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                                        <span class="dropdown-header">
                                            <a href="#CAT_PLANTAS_SEMIILAS">Plantas y Semillas</a>
                                        </span>
                                        <a class="dropdown-item" href="#FLORES">Flores</a>
                                        <a class="dropdown-item" href="#PLANTAS_ARBOLES">Plantas y Árboles</a>
                                        <a class="dropdown-item" href="#HUERTO">Huerto</a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                                        <span class="dropdown-header">
                                            <a href="#CAT_INSUMOS">Insumos</a>
                                        </span>
                                        <a class="dropdown-item" href="#TIERRA">Tierra</a>
                                        <a class="dropdown-item" href="#FERTILIZANTES">Fertilizantes</a>
                                        <a class="dropdown-item" href="#OTROS_INSUMOS">Otros Insumos</a>
                                    </div>
                                    <li><hr class="dropdown-divider bg-light"></li>
                                    <li><a class="dropdown-item col-md-6" href="#ALL_PRODUCTS">Todos los Productos</a></li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex me-4" role="search">
                        <input type="text" class="form-control me-2" placeholder="Buscar Producto">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                    <a class="nav-link comfortaa-font" href="#" data-bs-toggle="modal" data-bs-target="#modalSignin">
                        <i class="bi bi-person-circle"></i> Iniciar Sesión
                    </a>
                    <button class="btn btn-outline-success ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#carrito-offcanvas" aria-controls="offcanvasCarrito">
                        <i class="bi bi-cart"></i>
                        <span id="carrito-icono">0</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>