{% extends 'shopWeb/layouts/base_productos.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %}{{ categoria_nombre }} - {{ subcategoria_nombre }}{% endblock %}
{% block content %}
<h1>{{ categoria_nombre }} - {{ subcategoria_nombre }}</h1>
<div id="productos-container" class="row">
    {% if productos %}
    {% for producto in productos %}
    <div class="col-lg-3 col-md-6 col-sm-8 mb-2">
        <div class="card" data-id="{{ producto.id_producto }}" data-nombre="{{ producto.nombre }}" data-precio="{{ producto.precio }}" data-imagen="{{ producto.img.url }}" data-stock="{{ producto.stock }}">
            <h5 class="card-title comfortaa-font">{{ producto.nombre }}</h5>
            <div class="card-body">
                <img class="card-img-top{% if producto.stock == 0 %} grayscale{% endif %}" src="{{ producto.img.url }}" alt="{{ producto.nombre }}" width="200px" height="200px">
                <h6 class="card-precio">Precio: ${{ producto.precio }}</h6>
                <small class="card-stock">stock: {{ producto.stock }} unidades</small>
                <button class="btn btn-outline-secondary detalles-btn">Detalles</button>
                <div class="descripcion">{{ producto.descripcion }}</div>
                {% if producto.stock > 0 %}
                <br>
                <small class="aling-item-center ">Cantidad:</small>
                <div class="input-group justify-content-center inline-flex m-3">
                        <button class="btn btn-outline-secondary btn-sm menos-btn  " data-id="{{producto.id}}">-</button>
                        <input type="number" class="form-control form-control-sm cantidad-input  " value="1" min="1" max="{{ producto.stock }}" >
                        <button class="btn btn-outline-secondary btn-sm mas-btn  " data-id="{{producto.id}}">+</button>
               </div>
                <button class="btn btn-outline-secondary añadir-btn">Añadir al Carrito</button>
                {% else %}
                <button class="btn btn-outline-secondary agotado-btn" disabled>Agotado</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay productos disponibles en esta categoría y subcategoría.</p>
    {% endif %}
</div>
{% endblock %}
