@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=MuseoModerno:ital,wght@1,800&display=swap');

:root {
    --color-primary: #FFA500;
    --color-secondary: #FFD700;
    --color-tertiary: #32CD32;
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-black: #000000;
}

body{background-color: #32CD32;}
.museomoderno-font {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
}

.comfortaa-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h5 {
    padding-top: 5px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    color: var(--color-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

a:hover {
    color: var(--color-primary);
}

.dropdown-header {
    color: var(--color-light);
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
.dropdown-header:hover{
    color: var(--color-dark);
    background-color: var(--color-secondary);
    a{
        color: var(--color-dark);
        font-weight: bold;
    }
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler {
    border: var(--color-light) 2px solid;
    background-color: transparent;
    color: var(--color-light);
}

.nav-link {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px; /* Updated font size */
    font-weight: bold;
    color: var(--color-light);
    padding: 10px 15px;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-secondary);
}

#navbarDropdownMenuLink1 {
    color: var(--color-light);
    font-family: "Comfortaa", sans-serif;
    font-size: 18px; /* Updated font size */
    font-weight: bold;
    padding: 10px 15px;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px var(--color-black);
    padding: 0;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: var(--color-black);
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-light);
    padding: 10px 20px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-black);
}

.form-control {
    border-radius: 25px;
    font-family: "Comfortaa", sans-serif;
   
}

.btn-outline-success {
    border-color: var(--color-primary);
    color: var(--color-light);
    font-weight: bold;
    border-radius: 25px;
    white-space: nowrap;
}

.btn-outline-success:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.dropdown-large {
    padding: 1rem;
}

.me-4 {
    margin-left: 10%;
}

@media all and (min-width: 750px) {
    .dropdown-large {
        min-width: 650px;
    }
}

.offcanvas-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.offcanvas-body {
    padding: 20px;
    overflow-y: auto;
}