@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=MuseoModerno:ital,wght@1,800&display=swap');


:root {
    --color-primary: #FFA500;
    --color-secondary: #FFD700;
    --color-tertiary: #32CD32;
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-black: #000000;
}

html,body {
    height: 100vh;

}

body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

.museomoderno-font {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
}

.comfortaa-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h5 {
    padding-top: 5px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    color: var(--color-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

a:hover {
    color: var(--color-primary);
}

/* Define la clase hidden para ocultar elementos */
.hidden {
    display: none;
}


/* NAVBAR STYLE */ 

.dropdown-header {
    color: var(--color-light);
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
.dropdown-header:hover{
    color: var(--color-dark);
    background-color: var(--color-secondary);
    a{
        color: var(--color-dark);
        font-weight: bold;
    }
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler {
    border: var(--color-light) 2px solid;
    background-color: transparent;
    color: var(--color-light);
}

.nav-link {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px; /* Updated font size */
    font-weight: bold;
    color: var(--color-light);
    padding: 10px 15px;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-secondary);
}

#navbarDropdownMenuLink1 {
    color: var(--color-light);
    font-family: "Comfortaa", sans-serif;
    font-size: 18px; /* Updated font size */
    font-weight: bold;
    padding: 10px 15px;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px var(--color-black);
    padding: 0;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: var(--color-black);
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-light);
    padding: 10px 20px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-black);
}

.form-control {
    border-radius: 25px;
    font-family: "Comfortaa", sans-serif;
   
}

.btn-outline-success {
    border-color: var(--color-primary);
    color: var(--color-light);
    font-weight: bold;
    border-radius: 25px;
    white-space: nowrap;
}

.btn-outline-success:hover {
    background-color: var(-0-color-primary);
    color: var(--color-light);
}

.dropdown-large {
    padding: 1rem;
}

.me-4 {
    margin-left: 10%;
}

@media all and (min-width: 750px) {
    .dropdown-large {
        min-width: 650px;
    }
}

.offcanvas-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.offcanvas-body {
    padding: 20px;
    overflow-y: auto;
}



.offcanvas.show .offcanvas-body .nav-item,
.offcanvas.show .offcanvas-body #singin,
.offcanvas.show .offcanvas-body form {
    padding-left: 0;
    margin-left: 0%;
    align-items: start;
    justify-content: start;
    margin-bottom: 20px;
}

.offcanvas.show .carrito-button{
    width: 100%;
    justify-content: center;
}


/*FOOTER STYLES*/ 

footer{
    flex-shrink: 0 ;
    position: sticky ;
    bottom: 10%;
    background-color: var(--color-black);
}

/* Ocultar footer */
footer.hidden {
    display: none;
}


.logo_footer{
    color: var(--color-light);
}
.logo_footer:hover{
    color: var(--color-primary)
}

.link_info{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-light);
    margin-inline: 10px 10px;
}
.link_info:hover{
    color: var(--color-primary);
}

.link_rrss{
    color: var(--color-light);
    margin: 10px;
}
.link_rrss:hover{
    color: var(--color-tertiary);
    margin: 10px;
    width: 30px
}
.siguenos_rrss{
    font-family:"Dancing Script", cursive;
    font-size: 30px;
    font-style: normal;
    color: var(--color-light);
}

/* POLITICAS-PAGE STYLE */
.politicas-page{
    main {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        overflow: hidden; /* Esto asegura que no haya scrolls inesperados */
    }
    
    main::before {
        content: "";
        position: fixed; /* Fija la imagen al fondo */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/logo/logo_line.png'); 
        background-size:contain;
        background-repeat: no-repeat; 
        background-position: center; 
        opacity: 0.2; 
        z-index: -1; 
    }

    .b-example-divider {
        padding: 1rem 0;
    }
    
    .container {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        z-index: 1; 
    }
    
    .text-center {
        text-align: center;
    }
}


/* SOBRE-NOSOTROS-PAGE STYLE*/

.sobre-nosotro-page{
    main {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        overflow: hidden; 
    }
    
    main::before {
        content: "";
        position: fixed; 
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/logo/logo_line.png'); 
        background-size:contain; 
        background-repeat: no-repeat; 
        background-position: center;
        opacity: 0.2;
        z-index: -1; 
    }

    .b-example-divider {
        padding: 1rem 0;
    }
    
    .container {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
    }
    
    .text-center {
        text-align: center;
    }

}