00{% extends 'shopWeb/layouts/base.html' %}
{% load static %}
<ink rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
*
{% block title %} 🌸Gardenia - Sobre nosotros {% endblock %}

{% block content %}

<!-- CONTENIDO-->
<div class="sobre-nosotros-page">
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    <img src="/static/img/banner/banner_vertical_niños.jpg"
                        class="img-fluid" alt>
                </div>
                <div class="col-md-7">
                    <div class="jumbotron">
                        <h1 class="text-center">GARDENIA SHOP</h1>
                        <h2 class="text-center">Donde la jardinería florece
                            con propósito</h2>
                        <br>
                        <h3>¿Quiénes somos?</h3>
                        <p>En Gardenia Shop, somos más que una simple tienda
                            de jardinería. Somos una comunidad apasionada
                            por las plantas y comprometida con el bienestar
                            de nuestro entorno y de los niños más
                            necesitados a través de la fundación Niños por
                            Chile.</p>

                        <h3>Nuestro objetivo:</h3>
                        <p>Nuestro objetivo principal es brindarles a los
                            vecinos de la comunidad un espacio donde puedan
                            adquirir todo lo necesario para cultivar sus
                            propios jardines, desde semillas y herramientas
                            hasta macetas y fertilizantes. Creemos que la
                            jardinería es una actividad terapéutica y
                            gratificante que nos conecta con la naturaleza y
                            nos permite crear espacios hermosos en nuestros
                            hogares. Además, buscamos fomentar una cultura
                            de sostenibilidad y respeto por el medio
                            ambiente.</p>

                        <h3>Más que una tienda:</h3>
                        <p>Pero Gardenia Shop es más que una tienda. También
                            es una plataforma donde los vecinos pueden
                            registrarse como vendedores y ofrecer sus
                            propios productos de jardinería, como plantas,
                            flores, artesanías y productos gourmet
                            elaborados con ingredientes frescos de sus
                            jardines. Promovemos el comercio local y
                            ayudamos a los emprendedores a crecer y alcanzar
                            una audiencia más amplia.</p>

                        <h3>Apoyando a los niños:</h3>
                        <p>Lo más importante de Gardenia Shop es nuestro
                            compromiso con la fundación sin fines de lucro
                            Niños por Chile. Cada venta realizada en nuestra
                            tienda contribuye a financiar programas de apoyo
                            a niños en situación de vulnerabilidad. Estos
                            programas incluyen educación, nutrición, salud y
                            actividades recreativas que ayudan a mejorar la
                            calidad de vida de estos niños y sus
                            familias.</p>

                        <h3>Juntos podemos hacer la diferencia:</h3>
                        <p>Al comprar en Gardenia Shop, no solo estás
                            adquiriendo productos de jardinería de alta
                            calidad, sino que también estás apoyando una
                            causa noble. Te invitamos a unirte a nuestra
                            comunidad y ser parte del cambio. Cada planta
                            que cultivas, cada flor que haces florecer,
                            contribuye a un futuro mejor para los niños de
                            Chile.</p>

                        <p class="text-center"><b>En Gardenia Shop, la
                                jardinería florece con propósito.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
